<header  >
  
  <% if(utilizator!=null) {%>
  <h1 class="log">
    Logat ca <%- utilizator.prenume-%> <%-utilizator.nume-%>!
    <form action="logout" method="get">
      <input type="submit" value="logout" class="btnlogout" /> 
    </form>
  </h1>
  <%} %>

</header>
<main>
  
  <h1 class="titlu">Periferice pc</h1>


  <form action="creare-bd" method="get" style="display: inline-block; margin-left: 30px;">
    <input type="submit" value="Creare BD" class="btncreare"/> 
  </form>
  <form action="inserare-bd" method="get"style="display: inline-block;">
    <input type="submit" value="Incarcare BD" class="btninserare"/> 
  </form>     
       
  <div class="produs">

    <% for(let i=0;i<result.length;i++) {%>
      <div class="produsdet">
          <h1 style="font-size: 30px;"><p><%- result[i].nume %></p></h1>
          <p>Pret:<%- result[i].pret %></p>&ensp;
          <form action="/adaugare_cos" method="post">
            <% if(utilizator!=null) {%>
            <input type="submit" value="Adauga in cos" class="btnsubmit"/> 
            <input type="hidden" name="id" id='custId' value="<%-result[i].idProdus-%>">
            <%} %>
          </form>
      </div>
    <%} %>
  </div>
                   
</main>
        
<footer>
</footer>

