
<h1 style="color:chocolate;text-align: center;background-color:gainsboro;">Chestionar</h1>
<form  style="background-color:burlywood;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;display: block;margin: auto;" action="/rezultat-chestionar" method="POST">

    <% for(let i=0;i<intrebari.length;i++){ %>
        <p><%- intrebari[i].intrebare %></p>
        <% for(let j=0;j<intrebari[i].variante.length;j++){ %>
            <% if(j==intrebari[i].corect){%>
                <input  type="radio"  name="q <%- i %>" value="<%- j %>"checked style="background-color: #2196F3"><%- intrebari[i].variante[j] %><br/>
            <%} else {%> 
                <input type="radio" name="q <%- i %>" value="<%- j %>"><%- intrebari[i].variante[j] %><br/>
            <%}%>
        <%} %>
    <% } %>
   <p> Raspunsuri corecte: <%- Raspunsuri_corecte -%>  </p>
</form>